<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" ng-controller="LoginController as loginCtrl">
                <div class="panel-heading">
                    <h4>Login To Your Account</h4>
                </div>
                <div class="panel-body">
                    <form name="loginForm" novalidate>
                        <div class="form-group">
                            <label for="email"> Email </label>
                            <input type="email" class="form-control" name="email" ng-model="loginCtrl.data.email" required>
                        </div>
                        <div class="alert alert-danger help-block" ng-show="loginForm.email.$error.required && !loginForm.email.$pristine">
                            Email required.
                        </div>
                        <div class="alert alert-danger help-block" ng-show="loginForm.email.$error.email && !loginForm.email.$pristine">
                            Invalid Email id.
                        </div>
                        <div class="form-group">
                            <label for="password"> Password </label>
                            <input type="password" class="form-control" name="password" ng-model="loginCtrl.data.password" required ng-minlength="8"
                                ng-maxlength="25">
                        </div>
                        <div class="alert alert-danger" ng-show="loginForm.password.$error.required && !loginForm.password.$pristine">
                            Password required.
                        </div>
                        <button type="button" class="btn btn-success" ng-disabled="loginForm.$invalid" ng-click="loginCtrl.authenticate()">
                            <span class="glyphicon glyphicon-lock"></span>
                            Login 
                        </button>
                    </form>
                    <br/>
                    <div class="alert alert-success" ng-if="loginCtrl.status == true">
                        {{ loginCtrl.message }} 
                    </div>
                    <div class="alert alert-danger" ng-if="loginCtrl.status == false">
                        {{ loginCtrl.message }}
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button ng-click="loginCtrl.authenticateUsingFacebook()" class="btn btn-block btn-social btn-md btn-facebook">
                                    <span class="fa fa-facebook"></span> Sign in with Facebook
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button ng-click="loginCtrl.authenticateUsingGoogle()" class="btn btn-block btn-social btn-md btn-google">
                                    <span class="fa fa-google"></span> Sign in with Google
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>